.example-container.app-e06 {
    padding: 20px 0 0 20px;

    h1{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: blue;
    }

    pre{
        margin: 30px 0;
    }

    hr{
        border: none;
        height: 1px;
        background-color: rgb(224, 224, 224);
        box-shadow: 0px 0px 2px #e0e0e0;
        margin: 16px 0;
    }

    .wrapper-component {
        margin-top: 30px;
    }

    .wrapper-component.id-h04{
        .item {
            display: flex;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-top: 10px;
            padding: 5px 0 5px 5px;
            background: whitesmoke;
            .description {
                padding-left: 10px;
            }
        }
    }

    .wrapper-component.id-h08{
        .item {
            width: 600px;
            height: 300px;
            border: 1px solid #ccc;
            background-color: #444;
            > .text {
                color: white;
                text-align: center;
                margin: 10px 0;
            }
            > .current {
                font-size: 13px;
            }
            > .title{
                font-size: 30px;
                font-weight: bold;
                color: white;
                text-align: center;
                text-shadow: 1px 1px #000;
                margin: 16px 0;
            }
        }
    }
}
