.example-container.app-e01 {
  .counter-container{
    display: inline-block;
    padding: 16px;
    border:1px solid darkorange;
    margin: 16px 0 16px 16px;
    width: 165px;
  }

  button {
    margin: 0 0 0 10px;
  }
}
